/.vscode/
*.out
*.exe
*.dll
*.pdb
*.mdb
*.lib
*.obj
*.o
*.a
*.so
*/.idea/
*/out/
*.iml
*.asv
*.clear
A.m
/test*/
*/__pycache__/
python/test.py
/qt/build*/
*.gch
gcc/SimpleDPP.dev
gcc/simpledpptest
gcc/SimpleDPP.layout
gcc/Makefile.win
*.class
/src/simpledpptest
build/*
